<ion-view id="loginContent">
    <ion-content>
        <div class="row">
            <div class="login">
                <div class="logo">ONU CHECK</div>
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">{{info.IPAddress}}</span>
                        <input ng-model="loginInfo.ip" type="text">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">{{info.username}}</span>
                        <input ng-model="loginInfo.username" type="text">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">{{info.password}}</span>
                        <input ng-model="loginInfo.password" type="password">
                    </label>
                </div>
                <button class="button button-royal button-block loginBtn" ng-click="loginBtnClick()">
                    {{info.login}}
                </button>
            </div>

        </div>
        <div class="history" ng-click="viewHistory()">{{info.history}}</div>
        
    </ion-content>
</ion-view>
