<ion-view>
    <ion-content scroll="false">
    <div id="loginContent">
        <div class="list show center">
            <div class="item item-input inputBox">
                <i class="iconfont placeholder-icon">&#xe604;</i>
                <input type="text" placeholder="{{info.IPAddress}}" ng-model="loginInfo.ip">
                <i class="iconfont placeholder-icon" ng-click="eventFun.cancelEnter()">&#xe623;</i>
            </div>
        </div>
        <button class="button button-green button-block-half loginBtn" ng-click="loginBtnClick()">
            {{info.login}}
        </button>
        <div class="history" ng-click="viewHistory()">{{info.history}}</div>
    </div>
    </ion-content>
</ion-view>
