<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="检测报告" hide-back-button="true">

	<ion-nav-buttons side="left">
	   <button menu-toggle="left" class="button button-icon icon ion-chevron-left" ng-click="back()"></button>
	</ion-nav-buttons>

 	<ion-nav-buttons side="right">
	   <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-click="openPopover($event)"></button>
	</ion-nav-buttons>
	<ion-content class="padding" >
		<div id="report">
			<style type="text/css">
				#content{
					font-family : 'Microsoft Yahei';
				}
				#content > .block{
					margin-bottom: 20px;
				}
				#content > .block > div{
					margin-top: 10px;
				}
				.title{
					font-size: 17px;
					font-weight: bold;
				}
				.citem{
					font-size: 16px;
				}
				.citem-title{

				}
				.citem-content{
					
				}
				
			</style>
			<div id="content">
				<div class="block">
					<div class="title">检测地点：</div>
					<div class="citem">{{report.name}}</div>
				</div>
				<div class="block">
					<div class="title">检测时间：</div>
					<div class="citem">{{report.date}}</div>
				</div>
				<div class="block">
					<div class="title">检测报告：</div>
					
				</div>
				

			</div>

		</div>
		
    
  </ion-content>

</ion-view>


<script id="my-popover.html" type="text/ng-template">
<ion-popover-view id="SharePopover">
	<ion-list>
	  <ion-item >
	   	<i class="ion ion-share"></i> <span>Share This</span>
	  </ion-item>
	   <ion-item >
	    <i class="ion ion-email"></i> <span>Email  This</span>
	  </ion-item>
	   <ion-item >
	    <i class="ion ion-share"></i> <span>Email  This</span> 
	  </ion-item>
	</ion-list>
</ion-popover-view>
</script> 