<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="检测报告" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-chevron-left" ng-click="back()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-click="openPopover($event)"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div id="report">
            <style type="text/css">
            #content {
                font-family: 'Microsoft Yahei';
                padding-bottom: 1px;
            }
            
            #content > .block {
                margin-bottom: 20px;
                border-radius: 5px;
                border: 1px solid #ccc;
            }
            
            #content .title {
                font-size: 17px;
                height: 40px;
                line-height: 40px;
                border-bottom: none;
                padding-left: 20px;
                background-color: #ddd;
            }
            
            #content .citem {
                font-size: 16px;
                padding-left: 20px;
                height: 50px;
                line-height: 50px;
            }
            
            #content .rep-content .detail {
                padding: 5px 10px;
            }
            
            #content .detail .header {
                padding-left: 10px;
                height: 30px;
                line-height: 30px;
                background-color: #ddd;
                font-size: 16px;
                font-weight: bold;
                color: #000;
                margin-top: 10px;
            }
            
            #content .detail .port {
                margin: 10px auto;
                border: 1px solid #ccc;
                border-radius: 7px;
            }
            
            #content .detail .items:nth-of-type(2n+1) {
                background-color: #eee;
            }
            
            #content .detail .citem-title {
                padding-left: 20px;
                font-size: 15px;
                display: inline-block;
                margin: 5px 20px 5px 0;
                width: 30%;
            }
            
            #content .detail .citem-content {
                padding-left: 20px;
                font-size: 15px;
                display: inline-block;
            }
            
            .red {
                color: red;
            }
            </style>
            <div id="content">
                <div class="block">
                    <div class="title">{{i10n.detailModule.address}}：</div>
                    <div class="citem">{{report.name}}</div>
                </div>
                <div class="block">
                    <div class="title">{{i10n.detailModule.date}}：</div>
                    <div class="citem">{{report.date}}</div>
                </div>
                <div class="block">
                    <div class="title">{{i10n.detailModule.conclusion}}：</div>
                    <div class="citem">
                        <span ng-class="{'red': report.status !== 1}" ng-switch="report.status"> 
                            <span ng-switch-when="1">#{{i10n.historyModule.types.all}}#</span>
                        <span ng-switch-when="2">#{{i10n.historyModule.faults.pon}}#</span>
                        <span ng-switch-when="3">#{{i10n.historyModule.faults.data}}#</span>
                        <span ng-switch-when="4">#{{i10n.historyModule.faults.voice}}#</span>
                        </span>
                        <div class="conclusion">
                            {{report.conclusion}}
                        </div>
                    </div>
                </div>
                <div class="block rep-content">
                    <div class="title">{{i10n.detailModule.report}}：</div>
                    <div class="detail" ng-repeat="(key1,items) in detail">
                        <div class="header"> {{reportLocal[key1].module_name}}</div>
                        <div ng-if="!items.length" ng-repeat="(key2,item) in items" class="items">
                            <div class="citem-title">{{reportLocal[key1][key2]}}</div>
                            <div class="citem-content">{{item.val}}</div>
                            <span class="unit">{{item.unit ? item.unit : ''}}</span>
                        </div>
                        <div ng-if="items.length" ng-repeat="portInfo in items" class="port">
                            <div ng-repeat="(key2,item) in portInfo" class="items">
                                <div class="citem-title">{{reportLocal[key1][key2]}}</div>
                                <div class="citem-content">{{item.val}}</div>
                                <span class="unit">{{item.unit ? item.unit : ''}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
<script id="my-popover.html" type="text/ng-template">
    <ion-popover-view id="SharePopover">
        <ion-list>
            <ion-item>
                <i class="ion ion-share"></i> <span>Share This</span>
            </ion-item>
            <ion-item>
                <i class="ion ion-email"></i> <span>Email  This</span>
            </ion-item>
            <ion-item>
                <i class="ion ion-share"></i> <span>Email  This</span>
            </ion-item>
        </ion-list>
    </ion-popover-view>
</script>
