<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="检测报告">
<!-- <ion-view view-title="检测报告" hide-back-button="true"> -->
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon" ng-click="back()"><i class="iconfont">&#xe61f;</i>返回</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="left" class="button button-icon" ng-click="openPopover($event)"><i class="iconfont">&#xe617;</i></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div id="report" on-swipe-right="onSwipeRight()" on-hold="onHold()">
            <style type="text/css">
            #content {
                font-family: 'Microsoft Yahei';
                padding-bottom: 1px;
            }
            
            #content > .block {
                border-radius: 5px;
            }

            #content > .main-info{
                border-bottom: 2px solid #eee;
            }

            #content > .main-info i {
                font-size: 1.2em;
            }
            
            #content .title {
                font-size: 17px;
                height: 40px;
                line-height: 40px;
                border-bottom: none;
                padding-left: 20px;
                width: 30%;
                display: inline-block;
            }
            
            #content .citem {
                font-size: 16px;
                padding-left: 20px;
                line-height: 50px;
            }
            
            #content .rep-content .detail {
                padding: 5px 10px;
                margin-left: 10px;
            }
            
            #content .citem > .conclusion {
                padding-right: 10px;
                line-height: 25px;
            }
            
            #content .detail .header {
                padding-left: 10px;
                height: 30px;
                line-height: 30px;
                background-color: #ddd;
                font-size: 16px;
                font-weight: bold;
                color: #000;
                margin-top: 10px;
            }
            
            #content .detail .port {
                margin: 10px auto;
                border-radius: 7px;
            }
            
            #content .detail .citem-title {
                padding-left: 20px;
                font-size: 15px;
                display: inline-block;
                margin: 5px 20px 5px 0;
                width: 50%;
                line-height: 20px;
            }
            
            #content .detail .citem-content {
                padding-left: 20px;
                font-size: 15px;
                display: inline-block;
                width: 40%;
            }

            #content .detail .citem-content i{
                position: absolute;
                right: 0;
                font-size: 18px;
                top: 4px;
                width: 50px;
                height: 30px;
            }

            #content .detail .suggest{
                padding: 10px;
                border: red solid 1px;
                border-radius: 5px;
                margin: 0px 20px;
                color: red;
            }

            #content .detail.voice{
                padding-left: 30px;
            }

            #content .detail .items{
                position: relative;
            }

            #content .detail .sp-div{
                position: absolute;
                width: 5px;
                height: 20px;
                background: #ddd;
                top: 4px;
                left: 2px;
            }


            
            .red {
                color: red;
            }
            </style>
            <div id="content">
                <div class="block main-info">
                    <span class="title">{{i10n.detailModule.address}}：</span>
                    <span class="citem">{{report.name}}</span>
                </div>
                <div class="block main-info">
                    <span class="title">{{i10n.detailModule.conclusion}}：</span>
                    <span class="citem">
                        <span ng-switch="report.status">
                            <i class="iconfont green" ng-if="report.status===1">&#xe60b;</i>
                            <i class="iconfont red" ng-if="report.status!==1">&#xe609;</i>
                            <span ng-switch-when="1">

                                {{i10n.historyModule.types.normal}}
                            </span>
                            <span ng-switch-when="2">{{i10n.historyModule.faults.pon}}</span>
                            <span ng-switch-when="3">{{i10n.historyModule.faults.data}}</span>
                            <span ng-switch-when="4">{{i10n.historyModule.faults.voice}}</span>
                        </span>
                    </span>
                </div>
                <div class="block main-info">
                    <span class="title">{{i10n.detailModule.note}}：</span>
                    <span class="citem">{{report.conclusion}}</span>
                </div>
                <div class="block main-info">
                    <span class="title">{{i10n.detailModule.date}}：</span>
                    <span class="citem">{{report.date}}</span>
                </div>
               
                <div class="block rep-content">
                    <div class="title">{{i10n.detailModule.report}}：</div>

                    <!--基本信息-->
                    <div class="detail">
                        <div class="header"> {{reportLocal.deviceInfo.module_name}}</div>
                        <!--如果items不是数组,则是设备基本信息-->
                        <div ng-repeat="(key,item) in detail.deviceInfo" class="items">
                            <div class="citem-title" ng-class="{'red' : item.warn}">{{reportLocal.deviceInfo[key]}}</div>
                            <div class="citem-content" ng-class="{'red' : item.warn}">
                                <span ng-if="!item.val">-</span>
                                <span ng-if="item.text">{{item.text}}</span>
                                <span ng-if="!item.text">{{item.val}}</span>
                                <span class="unit">{{item.unit ? item.unit : ''}}</span>
                                <i class="iconfont red" ng-show="item.reason || item.msg" ng-click="showTip(item)">&#xe616;</i>
                            </div>
                           
                            <div class="suggest hide" ng-if="item.reason || item.msg || item.note">
                                <div ng-if="item.reason">
                                    {{i10n.checkModule.reason}} : {{item.reason}}
                                </div>
                                <div ng-if="item.msg">
                                    {{i10n.checkModule.suggestion}} : {{item.msg}}
                                </div>
                                <div ng-if="item.note">
                                    {{i10n.checkModule.note}} : {{item.note}}
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="detail">
                        <div class="header"> {{reportLocal.ponPortStatus.module_name}}</div>

                        <div ng-repeat="portInfo in detail.ponPortStatus" class="port">

                            <div class="items">
                                <div class="sp-div"></div>
                                <span class="citem-title">{{i10n.report.voicePortStatus.voice_port_id}}</span>
                                <span class="citem-content">{{portInfo.pon_port_id}}</span>
                            </div>

                            <div ng-if="key !== 'pon_port_id'" ng-repeat="(key,item) in portInfo" class="items">
                                <div class="citem-title" ng-class="{'red' : item.warn}">{{reportLocal.ponPortStatus[key]}}</div>
                                <div class="citem-content" ng-class="{'red' : item.warn}">
                                    <!--item.val不存在，说明是id，直接显示item;
                                    item.text 存在，表示是枚举，text是转化后的显示值-->
                                    <span ng-if="!item.val">-</span>
                                    <span ng-if="item.text">{{item.text}}</span>
                                    <span ng-if="!item.text">{{item.val}}</span>
                                    <span class="unit">{{item.unit ? item.unit : ''}}</span>
                                    <i class="iconfont red" ng-show="item.reason || item.msg" ng-click="showTip(item)">&#xe616;</i>
                                </div>
                                <div class="suggest hide" ng-if="item.reason || item.msg || item.note">
                                    <div ng-if="item.reason">
                                        {{i10n.checkModule.reason}} : {{item.reason}}
                                    </div>
                                    <div ng-if="item.msg">
                                        {{i10n.checkModule.suggestion}} : {{item.msg}}
                                    </div>
                                    <div ng-if="item.note">
                                        {{i10n.checkModule.note}} : {{item.note}}
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="detail">
                        <div class="header"> {{reportLocal.dataPortStatus.module_name}}</div>
                        <div ng-repeat="portInfo in detail.dataPortStatus" class="port">

                            <div class="items">
                                <div class="sp-div"></div>
                                <span class="citem-title">{{i10n.report.dataPortStatus.data_port_id}}</span>
                                <span class="citem-content">{{portInfo.data_port_id}}</span>
                            </div>

                            <div ng-if="key !== 'data_port_id'" ng-repeat="(key,item) in portInfo" class="items">
                                <div class="citem-title" ng-class="{'red' : item.warn}">{{reportLocal.dataPortStatus[key]}}</div>
                                <div class="citem-content" ng-class="{'red' : item.warn}">
                                    <!--item.val不存在，说明是id，直接显示item;
                                    item.text 存在，表示是枚举，text是转化后的显示值-->
                                    <span ng-if="!item.val">-</span>
                                    <span ng-if="item.text">{{item.text}}</span>
                                    <span ng-if="!item.text">{{item.val}}</span>
                                    <span class="unit">{{item.unit ? item.unit : ''}}</span>
                                    <i class="iconfont red" ng-show="item.reason || item.msg || item.note" ng-click="showTip(item)">&#xe616;</i>
                                </div>
                                <div class="suggest hide" ng-if="item.reason || item.msg || item.note">
                                    <div ng-if="item.reason">
                                        {{i10n.checkModule.reason}} : {{item.reason}}
                                    </div>
                                    <div ng-if="item.msg">
                                        {{i10n.checkModule.suggestion}} : {{item.msg}}
                                    </div>
                                    <div ng-if="item.note">
                                        {{i10n.checkModule.note}} : {{item.note}}
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div  class="detail">
                        <div class="header"> {{reportLocal.voicePortStatus.module_name}}</div>

                        <div  ng-repeat="(key,item) in detail.voicePortStatus">
                            <div ng-if="item.length === undefined" class="items">
                                <div class="citem-title" ng-class="{'red' : item.warn}">{{reportLocal.voicePortStatus[key]}}</div>
                                <div class="citem-content" ng-class="{'red' : item.warn}">
                                    <!--item.val不存在，说明是id，直接显示item;
                                    item.text 存在，表示是枚举，text是转化后的显示值-->
                                    <span ng-if="!item.val">-</span>
                                    <span ng-if="item.text">{{item.text}}</span>
                                    <span ng-if="!item.text">{{item.val}}</span>
                                    <span class="unit">{{item.unit ? item.unit : ''}}</span>
                                    <i class="iconfont red" ng-show="item.reason || item.msg || item.note" ng-click="showTip(item)">&#xe616;</i>
                                </div>
                                <div class="suggest hide" ng-if="item.reason || item.msg || item.note">
                                    <div ng-if="item.reason">
                                        {{i10n.checkModule.reason}} : {{item.reason}}
                                    </div>
                                    <div ng-if="item.msg">
                                        {{i10n.checkModule.suggestion}} : {{item.msg}}
                                    </div>
                                    <div ng-if="item.note">
                                        {{i10n.checkModule.note}} : {{item.note}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div ng-repeat="detail in  detail.voicePortStatus.port_detail" class="detail voice">

                        <div class="items">
                            <div class="sp-div"></div>
                            <span class="citem-title">{{i10n.report.voicePortStatus.voice_port_id}}</span>
                            <span class="citem-content">{{detail.voice_port_id}}</span>
                        </div>

                        <div ng-if="key !== 'voice_port_id'" ng-repeat="(key,item) in detail" class="items">
                            <div class="citem-title" ng-class="{'red' : item.warn}">{{reportLocal.voicePortStatus[key]}}</div>
                            <div class="citem-content" ng-class="{'red' : item.warn}">
                                <!--item.val不存在，说明是id，直接显示item;
                                item.text 存在，表示是枚举，text是转化后的显示值-->
                                <span ng-if="!item.val">-</span>
                                <span ng-if="item.text">{{item.text}}</span>
                                <span ng-if="!item.text">{{item.val}}</span>
                                <span class="unit">{{item.unit ? item.unit : ''}}</span>
                                <i class="iconfont red" ng-show="item.reason || item.msg || item.note" ng-click="showTip(item)">&#xe616;</i>
                            </div>
                            <div class="suggest hide" ng-if="item.reason || item.msg || item.note">
                                <div ng-if="item.reason">
                                    {{i10n.checkModule.reason}} : {{item.reason}}
                                </div>
                                <div ng-if="item.msg">
                                    {{i10n.checkModule.suggestion}} : {{item.msg}}
                                </div>
                                <div ng-if="item.note">
                                    {{i10n.checkModule.note}} : {{item.note}}
                                </div>
                            </div>
                            
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

<script id="my-popover.html" type="text/ng-template">
    <ion-popover-view id="SharePopover">
        <ion-list>
            <ion-item ng-click="share()">
                <i class="ion ion-share"></i> <span>Share This</span>
            </ion-item>
            <ion-item ng-click="email()">
                <i class="ion ion-email"></i> <span>Email  This</span>
            </ion-item>
        </ion-list>
    </ion-popover-view>
</script>
