<ion-view view-title="{{i10n.setup}}">
    <ion-content id="setupTab" scroll="false">
        <div class="list">
            <div class="item listButton" ng-click="eventFun.openAutoDeleteReportBox()">
                {{local.report_retention_time}}
                <button class="button button-stable button-clear" >
                    {{del_select[delIndex]}}
                    <i class="iconfont">&#xe612;</i>
                </button>
            </div>
            <div class="item listButton" ng-click="eventFun.openWarrantyPeriodBox()">
                {{local.warranty_period}}
                <button class="button button-stable button-clear" >
                    {{date_select[dateIndex]}}
                    <i class="iconfont">&#xe612;</i>
                </button>
            </div>
            <div class="item">
                {{local.version}}
                <span class="item-note">{{local.software_version}}</span>
            </div>
        </div>
        <div class="footer">
            <div class="list padding-bottom">
                <button class="button button-block-half button-grass" ng-click="eventFun.reconnect()">
                    {{local.reconnect}}
                </button>
            </div>
            <div class="list padding">
                <span class="note">{{local.copyright}}</span>
            </div>
        </div>
    </ion-content>
</ion-view>
<!-- 自动删除报告上弹框 -->
<script id="autoDeleteReport.html" type="text/ng-template">
    <div class="list expander">
        <div class="item item-button-right">
            &nbsp;
            <button class="button button-stable button-clear" ng-click="eventFun.closeAutoDeleteReportBox()">
                <i class="iconfont">&#xe61d;</i>
            </button>
        </div>
    </div>
    <ion-list class="center-radio">
        <ion-radio ng-model="delRange" ng-value="'never'">{{local.retention_time_select.never}}</ion-radio>
        <ion-radio ng-model="delRange" ng-value="'day'">{{local.retention_time_select.day}}</ion-radio>
        <ion-radio ng-model="delRange" ng-value="'permanent'" class="no-border-bottom">{{local.retention_time_select.permanent}}</ion-radio>
    </ion-list>
    <div class="list expander">
        <div class="item item-button expander-footer show center">
            <button class="button button-block-half button-grass" ng-click="eventFun.changeDeletePeriod(delRange)">
                <span>{{local.ok}}</span>
            </button>
        </div>
    </div>
</script>
<!-- 选择保修期上弹框 -->
<script id="warrantyPeriod.html" type="text/ng-template">
    <div class="list expander">
        <div class="item item-button-right">
            &nbsp;
            <button class="button button-stable button-clear" ng-click="eventFun.closeWarrantyPeriodBox()">
                <i class="iconfont">&#xe61d;</i>
            </button>
        </div>
    </div>
    <ion-list class="center-radio">
        <ion-radio ng-model="dateRange" ng-value="'one_year'">{{local.date_select.one_year}}</ion-radio>
        <ion-radio ng-model="dateRange" ng-value="'two_years'" class="no-border-bottom">{{local.date_select.two_years}}</ion-radio>
    </ion-list>
    <div class="list expander">
        <div class="item item-button expander-footer show center">
            <button class="button button-block-half button-grass" ng-click="eventFun.changeWarrantyPeriod(dateRange)">
                <span>{{local.ok}}</span>
            </button>
        </div>
    </div>
</script>
