<ion-view view-title="{{i10n.basicInfo}}">
    <ion-content id="basicInfoTab" scroll="false">
        <ion-scroll>
            <div class="list">
                <div class="item" ng-repeat="(key,item) in deviceInfo">
                    <div ng-if="key!=='warranty_period'" ng-class="{'red':item.warn}" ng-click="showTip(item)" ng-disabled="!item.warn">
                        {{localInfo[key]}}
                        <i class="iconfont" ng-if="item.warn">&#xe616;</i>
                        <span class="item-note" ng-if="item.text" ng-class="{'red':item.warn}">
                        <i class="iconfont" ng-if="key==='registration_status_led'" ng-class="{'0':'red','1':'green'}[deviceInfo.registration_status_led.val]">&#xe608;</i>
                        <span ng-if="key!=='warranty_period'">{{item.text}}</span>
                        </span>
                        <span class="item-note" ng-if="!item.text" ng-class="{'red':item.warn}">
                        {{item.val}}
                    </span>
                    </div>
                    <div ng-if="key==='warranty_period'" ng-click="scanBarcode()">
                        {{localInfo[key]}}
                        <span class="item-note blue" ng-if="!item.text">
                        <i class="iconfont bigerIcon">&#xe611;</i>
                        {{item.val}}
                        </span>
                        <span class="item-note " ng-if="item.text">
                        {{item.text}}
                        </span>
                    </div>
                </div>
            </div>
        </ion-scroll>
        <div class="footer">
            <button class="button button-full button-grass" ng-click="checking()">{{local.one_check}}</button>
        </div>
    </ion-content>
