<ion-view view-title="{{i10n.check}}">
    <ion-content id="checkTab">
        <div class="">
            <!-- PON口诊断项 -->
            <div class="check-module" ng-class="{'check-modal':isPonChecking}">
                <div class="loadding" ng-show="isPonChecking">
                    <ion-spinner icon="bubbles" class="spinner-balanced"></ion-spinner>
                </div>
                <div class="header">
                    <i class="icon iconfont">&#xe622;</i>
                    <span class="title">{{i10n.checkModule.pon_port_item}}</span>
                    <span class="check_btn" ng-click="eventFun.checkPonBtnEvt()">
                        <i class="icon iconfont">&#xe602;</i>
                        <span>{{i10n.checkModule.begin_check}}</span>
                    </span>
                </div>
                <div class="content" ng-repeat="ponInfo in ponInfos | orderBy:order.pon">
                    <div class="check-item">
                        <i class="icon iconfont check-icon">&#xe608;</i>
                        <span class="name">{{i10n.reportModule.ponPortStatus.pon_port_id}}</span>
                        <span class="val">{{ponInfo.pon_port_id}}</span>
                    </div>
                    <div ng-repeat="(key,val) in ponInfo">
                        <div ng-if="key !== 'pon_port_id'" class="check-item" >
                            <span ng-class="{'war-color' : val.warn}">{{i10n.reportModule.ponPortStatus[key]}}</span>
                           
                            <span class="val" ng-if="val.val" ng-class="{'war-color' : val.warn}">
                                <span ng-if="val.val">
                                    {{val.val}}
                                    <span class="unit">{{val.unit}}</span>
                                </span>

                            </span>

                            <span ng-if="!val.val" class="none">-</span>

                            <span ng-if="val.val" >
                                <i class="icon-msg icon iconfont" ng-class="{'war-color' : val.warn}" ng-click="eventFun.showTip(val)"  ng-if="val.msg || val.note || val.reason">&#xe616;</i>
                                <i class="icon-mark icon iconfont" ng-class="{'war-color' : val.warn}" ng-click="val.warn = !val.warn">&#xe610;</i>
                                <i class="icon-edit icon iconfont" ng-class="{'war-color' : val.warn}" ng-click="eventFun.openEdit(i10n.reportModule.ponPortStatus[key],val)">&#xe626;</i>
                            </span>
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- 数据口诊断项 -->
            <div class="check-module" ng-class="{'check-modal':isDataChecking}">
                <div class="loadding" ng-show="isDataChecking">
                    <ion-spinner icon="bubbles" class="spinner-balanced"></ion-spinner>
                </div>
                <div class="header">
                    <i class="icon iconfont">&#xe621;</i>
                    <span class="title">{{i10n.checkModule.data_port_item}}</span>
                    <span class="check_btn" ng-click="eventFun.checkDataBtnEvt()">
                        <i class="icon iconfont">&#xe602;</i>
                        <span>{{i10n.checkModule.begin_check}}</span>
                    </span>
                </div>
                <div class="content" ng-repeat="dataInfo in dataInfos">
                    <div class="check-item">
                        <i class="icon iconfont check-icon">&#xe608;</i>
                        <span class="name">{{i10n.reportModule.ponPortStatus.pon_port_id}}</span>
                        <span class="val">{{dataInfo.data_port_id}}</span>
                    </div>
                    <div ng-repeat="(key,val) in dataInfo">
                        <div ng-if="key !== 'data_port_id'" class="check-item" >
                            <span ng-class="{'war-color' : val.warn}">{{i10n.reportModule.dataPortStatus[key]}}</span>
                            <span class="val" ng-if="val.val" ng-class="{'war-color' : val.warn}">
                                <span ng-if="val.text">{{val.text}}</span>
                            </span>

                            <span ng-if="!val.val" class="none">-</span>

                            <span ng-if="val.val" >
                                <i class="icon-msg icon iconfont" ng-click="eventFun.showTip(val)" ng-if="val.msg || val.note || val.reason" ng-class="{'war-color' : val.warn}">&#xe616;</i>
                                <i class="icon-mark icon iconfont" ng-click="val.warn = !val.warn" ng-class="{'war-color' : val.warn}">&#xe610;</i>
                                <i class="icon-edit icon iconfont" ng-class="{'war-color' : val.warn}" ng-click="eventFun.openEdit(i10n.reportModule.dataPortStatus[key],val)">&#xe626;</i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
             <!-- 语音口诊断项 -->
            <div class="check-module" ng-class="{'check-modal':isVoiceChecking}">
                <div class="loadding" ng-show="isVoiceChecking">
                    <ion-spinner icon="bubbles" class="spinner-balanced"></ion-spinner>
                </div>
                <div class="header">
                    <i class="icon iconfont">&#xe605;</i>
                    <span class="title">{{i10n.checkModule.voice_port_item}}</span>
                    <span class="check_btn" ng-click="eventFun.checkVoiceBtnEvt()">
                        <i class="icon iconfont">&#xe602;</i>
                        <span>{{i10n.checkModule.begin_check}}</span>
                    </span>
                </div>
              
                <div class="content" ng-repeat="(key,item) in voiceInfos.port_detail">
                    <div class="check-item">
                        <i class="icon iconfont check-icon">&#xe608;</i>
                        <span class="name">{{i10n.reportModule.voicePortStatus.voice_port_id}}</span>
                        <span class="val">{{item.voice_port_id}}</span>
                    </div>

                    <div ng-if="key !== 'voice_port_id'" class="check-item"  ng-repeat="(key,val) in item">
                        <span ng-class="{'war-color' : val.warn}">{{i10n.reportModule.voicePortStatus[key]}}</span>
                        <span class="val" ng-if="val.val" ng-class="{'war-color' : val.warn}">
                            <span ng-if="val.text">{{val.text}}</span>
                            <span ng-if="!val.text">{{val.val}}</span>
                        </span>

                        <span ng-if="!val.val" class="none">-</span>

                        <span ng-if="val.val">
                            <i class="icon-msg icon iconfont"  ng-if="val.msg || val.note || val.reason" ng-click="eventFun.showTip(val)"  ng-class="{'war-color' : val.warn}">&#xe616;</i>
                            <i class="icon-mark icon iconfont"  ng-class="{'war-color' : val.warn}" ng-click="val.warn = !val.warn">&#xe610;</i>
                            <i class="icon-edit icon iconfont"  ng-class="{'war-color' : val.warn}" ng-click="eventFun.openEdit(i10n.reportModule.voicePortStatus[key],val)">&#xe626;</i>
                        </span>
                       
                    </div>             
                </div>
                <div class="content" ng-show="voiceInfos.protocol_type">
                    <div class="check-item">
                         <a href="#/tab/check/detail" class="val v-detail">{{i10n.checkModule.view_detail}}</a>
                    </div>
                </div>
              
            </div>
            
        </div>
        <!--占位div-->
        <div style="height:100px;"></div>

    </ion-content>

    <div class="list check_btn_group ">
        <div class="button-bar">
            <button class="button button-grass" ng-click="eventFun.oneKeyCheckBtnEvt()">
                <span>{{i10n.checkModule.one_key_check}}</span>
            </button>
            <button class="button button-grass" ng-click="eventFun.generateReportBtnEVt()">
                <span>{{i10n.checkModule.generate_report}}</span>
            </button>
        </div>
    </div>


   
    
</ion-view>
<!-- 生成报告弹出框模板 -->
<script id="generateReport.html" type="text/ng-template">
    <div class="list expander">
        <div class="item item-button-right expander-header">
            {{i10n.checkModule.generate_report}}
            <button class="button button-stable button-clear" ng-click="eventFun.close()">
                <i class="iconfont" style="font-size: 1.6em;">&#xe61d;</i>
            </button>
        </div>
    </div>
    <div class="list expander">
        <label class="item item-input expander-item">
            <span class="input-label">{{i10n.checkModule.report_name}}</span>
            <input type="text" id="rename" ng-model="report.reportName" placeholder="{{i10n.checkModule.report_name_ph}}">
        </label>
        <label class="item item-input item-select expander-item">
            <span class="input-label">{{i10n.checkModule.check_result}}</span>
            <select ng-model="report.resultStatus">
                <option value="1">{{i10n.checkModule.result_status.normal}}</option>
                <option value="2">{{i10n.checkModule.result_status.pon_abnormal}}</option>
                <option value="3">{{i10n.checkModule.result_status.data_abnormal}}</option>
                <option value="4">{{i10n.checkModule.result_status.voice_abnormal}}</option>
            </select>
        </label>
        <label class="item item-input expander-item ">
            <span class="input-label">{{i10n.checkModule.remark}}</span>
            <input type="text" ng-model="report.remark" placeholder="{{i10n.checkModule.remark_ph}}">
        </label>
        <div id="successfullyInfo" ng-class="{true: 'show', false: 'hide'}[saved]" class="center">
            <span ng-if="save_failed" class="text">{{i10n.checkModule.generate_report_failed}}</span>
            <span ng-if="saved" class="text">{{i10n.checkModule.generate_report_successfully}}</span>
        </div>
    </div>
    <div class="list expander">
        <div class="item item-button button-bar expander-footer">
            <button class="button button-grass" ng-click="eventFun.sureOrView(saved)" style="margin-right:1px;" ng-disabled="!report.reportName||save_failed">
                <span ng-if="!saved">{{i10n.checkModule.ok}}</span>
                <span ng-if="saved">{{i10n.checkModule.view_report}}</span>
            </button>
            <button class="button button-grass" ng-click="eventFun.close()" style="margin-left:1px;">
                <span ng-if="!saved">{{i10n.checkModule.cancel}}</span>
                <span ng-if="saved">{{i10n.checkModule.stay_on_this_page}}</span>
            </button>
        </div>
    </div>

<!--提示是否重命名或覆盖文件-->
    <div class="backdoor" ng-show="isCover"></div>
    <div class="cover-tip" ng-show="isCover">
        <div class="head">{{i10n.checkModule.exist}}</div>
        <div class="btn">
            <span ng-click="eventFun.rename()">
                {{i10n.checkModule.rename}}
            </span>
        </div>
        <div class="btn" ng-click="eventFun.cover()">
            <span>
                {{i10n.checkModule.cover}}
            </span>
        </div>
    </div>
</script>

<!--编辑建议弹出模板-->
<script id="editSuggest.html" type="text/ng-template">
    <div class="list expander">
        <div class="item item-button-right expander-header">
            {{editer.title}} {{i10n.checkModule.note}}
            <button class="button button-stable button-clear" ng-click="eventFun.closeEdit()">
                <i class="iconfont" style="font-size: 1.6em;">&#xe61d;</i>
            </button>
        </div>
    </div>
    <div class="list expander sugeest">
        <i class="iconfont" style="font-size: 1.6em;" ng-click="eventFun.clearEdit()">&#xe623;</i>
        <textarea id="editTextarea" class="reason" ng-model="editer.note"></textarea>
    </div>
    <div class="list expander">
        <div class="item item-button button-bar expander-footer">
            <button class="button button-grass" ng-click="eventFun.saveEdit()" style="margin-right:1px;" ng-disabled="save_failed">
                <span ng-if="!saved">{{i10n.checkModule.ok}}</span>
                <span ng-if="saved">{{i10n.checkModule.view_report}}</span>
            </button>
            <button class="button button-grass" ng-click="eventFun.closeEdit()" style="margin-left:1px;">
                <span ng-if="!saved">{{i10n.checkModule.cancel}}</span>
                <span ng-if="saved">{{i10n.checkModule.stay_on_this_page}}</span>
            </button>
        </div>
    </div>
</script>