<ion-view view-title="{{i10n.check}}">
    <ion-content id="checkTab">
        <div class="list card">
            <!-- PON口诊断项 -->
            <div class="item item-button-right">
                <span>{{i10n.checkModule.pon_port_item}}</span>
                <div class="check-spinner" ng-show="isPonChecking">
                    <ion-spinner icon="" class="spinner spinner-ios"></ion-spinner>
                    <span class="text">{{i10n.checkModule.wait_for_checking}}</span>
                </div>
                <button class="button button-stable button-positive" ng-disabled="isPonChecking" ng-click="eventFun.checkPonBtnEvt()">
                    <span>{{i10n.checkModule.begin_check}}</span>
                    <i class="ion-arrow-right-c"></i>
                </button>
            </div>
            <div class="item item-body" ng-hide="ponInfos.length == 0">
                <div class="list" ng-repeat="ponInfo in ponInfos | orderBy:order.pon" style="border: 1px #ddd solid;">
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-thermometer"></i><span>{{i10n.report.ponPortStatus.pon_port_id}}</span>
                        <span class="item-note">{{ponInfo.pon_port_id}}</span>
                    </a>
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-thermometer"></i><span>{{i10n.report.ponPortStatus.temperature}}</span>
                        <span class="item-note">{{ponInfo.temperature.val}} {{ponInfo.temperature.unit}}</span>
                    </a>
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-flash"></i><span>{{i10n.report.ponPortStatus.voltage}}</span>
                        <span class="item-note">{{ponInfo.voltage.val}} {{ponInfo.voltage.unit}}</span>
                    </a>
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-ios-pulse-strong"></i><span>{{i10n.report.ponPortStatus.bias_current}}</span>
                        <span class="item-note">{{ponInfo.bias_current.val}} {{ponInfo.bias_current.unit}}</span>
                    </a>
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-ios-pulse-strong"></i><span>{{i10n.report.ponPortStatus.tx_opt_power}}</span>
                        <span class="item-note">{{ponInfo.tx_opt_power.val}} {{ponInfo.tx_opt_power.unit}}</span>
                    </a>
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-ios-pulse-strong"></i><span>{{i10n.report.ponPortStatus.rx_opt_power}}</span>
                        <span class="item-note">{{ponInfo.rx_opt_power.val}} {{ponInfo.rx_opt_power.unit}}</span>
                    </a>
                </div>
            </div>
            <!-- 数据口诊断项 -->
            <div class="item item-button-right">
                <span>{{i10n.checkModule.data_port_item}}</span>
                <div class="check-spinner" ng-show="isDataChecking">
                    <ion-spinner icon="" class="spinner spinner-ios"></ion-spinner>
                    <span class="text">{{i10n.checkModule.wait_for_checking}}</span>
                </div>
                <button class="button button-stable button-positive" ng-disabled="isDataChecking" ng-click="eventFun.checkDataBtnEvt()">
                    <span>{{i10n.checkModule.begin_check}}</span>
                    <i class="ion-arrow-right-c"></i>
                </button>
            </div>
            <div class="item item-body" ng-hide="dataInfos.length == 0">
                <div class="list" ng-repeat="dataInfo in dataInfos | orderBy:order.data" style="border: 1px #ddd solid;">
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-thermometer"></i><span>{{i10n.report.dataPortStatus.data_port_id}}</span>
                        <span class="item-note">
                            <span>{{dataInfo.data_port_id}}</span>
                        </span>
                    </a>
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-thermometer"></i><span>{{i10n.report.dataPortStatus.port_status}}</span>
                        <span class="item-note">
                            <span>{{dataInfo.port_status.text}}</span>
                        </span>
                    </a>
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-thermometer"></i><span>{{i10n.report.dataPortStatus.speed}}</span>
                        <span class="item-note">
                            <span>{{dataInfo.speed.text}}</span>
                        </span>
                    </a>
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-thermometer"></i><span>{{i10n.report.dataPortStatus.duplex}}</span>
                        <span class="item-note">
                            <span>{{dataInfo.duplex.text}}</span>
                        </span>
                    </a>
                </div>
            </div>
            <!-- 语音口诊断项 -->
            <div class="item item-button-right">
                <span>{{i10n.checkModule.voice_port_item}}</span>
                <div class="check-spinner" ng-show="isVoiceChecking">
                    <ion-spinner icon="" class="spinner spinner-ios"></ion-spinner>
                    <span class="text">{{i10n.checkModule.wait_for_checking}}</span>
                </div>
                <button class="button button-stable button-positive" ng-disabled="isVoiceChecking" ng-click="eventFun.checkVoiceBtnEvt()">
                    <span>{{i10n.checkModule.begin_check}}</span>
                    <i class="ion-arrow-right-c"></i>
                </button>
            </div>
            <div class="item item-body" ng-hide="voiceInfos.length == 0">
                <div class="list" ng-repeat="voiceInfo in voiceInfos | orderBy:order.voice" style="border: 1px #ddd solid;">
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-thermometer"></i><span>{{i10n.report.voicePortStatus.voice_port_id}}</span>
                        <span class="item-note">
                            <span>{{voiceInfo.voice_port_id}}</span>
                        </span>
                    </a>
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-thermometer"></i><span>{{i10n.report.voicePortStatus.port_status}}</span>
                        <span class="item-note">
                            <span>{{voiceInfo.port_status.text}}</span>
                        </span>
                    </a>
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-thermometer"></i><span>{{i10n.report.voicePortStatus.protocol_type}}</span>
                        <span class="item-note">
                            <span>{{voiceInfo.protocol_type.text}}</span>
                        </span>
                    </a>
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-thermometer"></i><span>{{i10n.report.voicePortStatus.telphone_no}}</span>
                        <span class="item-note">
                            <span>{{voiceInfo.telphone_no.val}}</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="list padding ">
            <div class="button-bar">
                <button class="button button-positive" style="margin: 0 10px;" ng-click="eventFun.oneKeyCheckBtnEvt()">
                    <span>{{i10n.checkModule.one_key_check}}</span>
                </button>
                <button class="button button-positive" style="margin: 0 10px;" ng-click="eventFun.generateReportBtnEVt()">
                    <span>{{i10n.checkModule.generate_report}}</span>
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
<!-- 生成报告弹出框模板 -->
<script id="popup.html" type="text/ng-template">
    <div class="list">
        <label class="item item-input">
            <span class="input-label">{{i10n.checkModule.report_name}}</span>
            <input type="text" ng-model="report.reportName">
        </label>
        <label class="item item-input item-select">
            <span class="input-label">{{i10n.checkModule.check_result}}</span>
            <select ng-model="report.resultStatus">
                <option value="1">{{i10n.checkModule.result_status.normal}}</option>
                <option value="2">{{i10n.checkModule.result_status.pon_abnormal}}</option>
                <option value="3">{{i10n.checkModule.result_status.data_abnormal}}</option>
                <option value="4">{{i10n.checkModule.result_status.voice_abnormal}}</option>
            </select>
        </label>
        <label class="item item-input" ng-show="report.resultStatus != '1' ">
            <span class="input-label">{{i10n.checkModule.remark}}</span>
            <input type="text" ng-model="report.remark">
        </label>
    </div>
</script>
<script id="generateReport.html" type="text/ng-template">
    <div class="list">
        <div class="item item-button-right">
            &nbsp;
            <button class="button button-stable button-clear" ng-click="eventFun.close()">
                <i class="icon ion-close-round"></i>
            </button>
        </div>
        <label class="item item-input">
            <span class="input-label">{{i10n.checkModule.report_name}}</span>
            <input type="text" ng-model="report.reportName">
        </label>
        <label class="item item-input item-select">
            <span class="input-label">{{i10n.checkModule.check_result}}</span>
            <select ng-model="report.resultStatus">
                <option value="1">{{i10n.checkModule.result_status.normal}}</option>
                <option value="2">{{i10n.checkModule.result_status.pon_abnormal}}</option>
                <option value="3">{{i10n.checkModule.result_status.data_abnormal}}</option>
                <option value="4">{{i10n.checkModule.result_status.voice_abnormal}}</option>
            </select>
        </label>
        <label class="item item-input">
            <span class="input-label">{{i10n.checkModule.remark}}</span>
            <input type="text" ng-model="report.remark" placeholder="{{i10n.checkModule.remark_ph}}">
        </label>
        <div class="item item-button footer_button">
            <button class="button button-positive" ng-click="eventFun.sure()">
                <span>{{i10n.checkModule.sure}}</span>
            </button>
        </div>
    </div>
</script>
