<ion-view view-title="{{i10n.check}}">
    <ion-content id="checkTab">
        <div class="">
            <!-- PON口诊断项 -->
            <div class="check-module" ng-class="{'check-modal':isPonChecking}">
                <div class="loadding" ng-show="isPonChecking" ng-click="isPonChecking = false">
                    <ion-spinner icon="bubbles" class="spinner-balanced"></ion-spinner>
                </div>
                <div class="header">
                    <i class="icon iconfont">&#xe622;</i>
                    <span class="title">{{i10n.checkModule.pon_port_item}}</span>
                    <span class="check_btn" ng-click="eventFun.checkPonBtnEvt()">
                        <i class="icon iconfont">&#xe602;</i>
                        <span>{{i10n.checkModule.begin_check}}</span>
                    </span>
                </div>
                <div class="content" ng-repeat="ponInfo in ponInfos | orderBy:order.pon">
                    <div class="check-item">
                        <i class="icon iconfont check-icon">&#xe608;</i>
                        <span class="name">{{i10n.report.ponPortStatus.pon_port_id}}</span>
                        <span class="val">{{ponInfo.pon_port_id}}</span>
                    </div>
                    <div ng-repeat="(key,val) in ponInfo">
                        <div ng-if="val.val" class="check-item" ng-click="eventFun.showTip(val)">
                            <span ng-class="{'war-color' : ponInfo[key].warn}">{{i10n.report.ponPortStatus[key]}}</span>
                            <i class="warn icon iconfont" ng-if="val.suggest">&#xe616;</i>
                            <span class="val" ng-class="{'war-color' : val.warn}">{{val.val}}{{val.unit}} </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 数据口诊断项 -->
            <div class="item item-button-right">
                <span>{{i10n.checkModule.data_port_item}}</span>
                <div class="check-spinner" ng-show="isDataChecking">
                    <ion-spinner icon="" class="spinner spinner-ios"></ion-spinner>
                    <span class="text">{{i10n.checkModule.wait_for_checking}}</span>
                </div>
                <button class="button button-stable button-positive" ng-disabled="isDataChecking" ng-click="eventFun.checkDataBtnEvt()">
                    <span>{{i10n.checkModule.begin_check}}</span>
                    <i class="ion-arrow-right-c"></i>
                </button>
            </div>
            <div class="item item-body" ng-hide="dataInfos.length == 0">
                <div class="list" ng-repeat="dataInfo in dataInfos | orderBy:order.data" style="border: 1px #ddd solid;">
                    <a class="item item-icon-left">
                        <i class="icon ion-thermometer"></i><span>{{i10n.report.dataPortStatus.data_port_id}}</span>
                        <span class="val">
                            <span>{{dataInfo.data_port_id}}</span>
                        </span>
                    </a>
                    <a class="item item-icon-left">
                        <i class="icon ion-thermometer"></i><span>{{i10n.report.dataPortStatus.port_status}}</span>
                        <span class="val">
                            <span>{{dataInfo.port_status.text}}</span>
                        </span>
                    </a>
                    <a class="item item-icon-left">
                        <i class="icon ion-thermometer"></i><span>{{i10n.report.dataPortStatus.speed}}</span>
                        <span class="val">
                            <span>{{dataInfo.speed.text}}</span>
                        </span>
                    </a>
                    <a class="item item-icon-left">
                        <i class="icon ion-thermometer"></i><span>{{i10n.report.dataPortStatus.duplex}}</span>
                        <span class="val">
                            <span>{{dataInfo.duplex.text}}</span>
                        </span>
                    </a>
                </div>
            </div>
            <!-- 语音口诊断项 -->
            <div class="item item-button-right">
                <span>{{i10n.checkModule.voice_port_item}}</span>
                <div class="check-spinner" ng-show="isVoiceChecking">
                    <ion-spinner icon="" class="spinner spinner-ios"></ion-spinner>
                    <span class="text">{{i10n.checkModule.wait_for_checking}}</span>
                </div>
                <button class="button button-stable button-positive" ng-disabled="isVoiceChecking" ng-click="eventFun.checkVoiceBtnEvt()">
                    <span>{{i10n.checkModule.begin_check}}</span>
                    <i class="ion-arrow-right-c"></i>
                </button>
            </div>
            <div class="item item-body" ng-hide="voiceInfos.length == 0">
                <div class="list" ng-repeat="voiceInfo in voiceInfos | orderBy:order.voice" style="border: 1px #ddd solid;">
                    <a class="item item-icon-left">
                        <i class="icon ion-thermometer"></i><span>{{i10n.report.voicePortStatus.voice_port_id}}</span>
                        <span class="val">
                            <span>{{voiceInfo.voice_port_id}}</span>
                        </span>
                    </a>
                    <a class="item item-icon-left">
                        <i class="icon ion-thermometer"></i><span>{{i10n.report.voicePortStatus.port_status}}</span>
                        <span class="val">
                            <span>{{voiceInfo.port_status.text}}</span>
                        </span>
                    </a>
                    <a class="item item-icon-left">
                        <i class="icon ion-thermometer"></i><span>{{i10n.report.voicePortStatus.protocol_type}}</span>
                        <span class="val">
                            <span>{{voiceInfo.protocol_type.text}}</span>
                        </span>
                    </a>
                    <a class="item item-icon-left">
                        <i class="icon ion-thermometer"></i><span>{{i10n.report.voicePortStatus.telphone_no}}</span>
                        <span class="val">
                            <span>{{voiceInfo.telphone_no.val}}</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="list check_btn_group ">
        <div class="button-bar">
            <button class="button" ng-click="eventFun.oneKeyCheckBtnEvt()">
                <span>{{i10n.checkModule.one_key_check}}</span>
            </button>
            <button class="button" ng-click="eventFun.generateReportBtnEVt()">
                <span>{{i10n.checkModule.generate_report}}</span>
            </button>
        </div>
    </div>
</ion-view>
<!-- 生成报告弹出框模板 -->
<script id="generateReport.html" type="text/ng-template">
    <div class="list expander">
        <div class="item item-button-right expander-header">
            {{i10n.checkModule.generate_report}}
            <button class="button button-stable button-clear" ng-click="eventFun.close()">
                <i class="iconfont">&#xe61d;</i>
            </button>
        </div>
    </div>
    <div class="list expander">
        <label class="item item-input expander-item">
            <span class="input-label">{{i10n.checkModule.report_name}}</span>
            <input type="text" ng-model="report.reportName" placeholder="{{i10n.checkModule.report_name_ph}}">
        </label>
        <label class="item item-input item-select expander-item">
            <span class="input-label">{{i10n.checkModule.check_result}}</span>
            <select ng-model="report.resultStatus">
                <option value="1">{{i10n.checkModule.result_status.normal}}</option>
                <option value="2">{{i10n.checkModule.result_status.pon_abnormal}}</option>
                <option value="3">{{i10n.checkModule.result_status.data_abnormal}}</option>
                <option value="4">{{i10n.checkModule.result_status.voice_abnormal}}</option>
            </select>
        </label>
        <label class="item item-input expander-item ">
            <span class="input-label">{{i10n.checkModule.remark}}</span>
            <input type="text" ng-model="report.remark" placeholder="{{i10n.checkModule.remark_ph}}">
        </label>
        <div id="successfullyInfo" ng-class="{true: 'show', false: 'hide'}[saved]" class="center">
            <span ng-if="save_failed">{{i10n.checkModule.generate_report_failed}}</span>
            <span ng-if="saved">{{i10n.checkModule.generate_report_successfully}}</span>
        </div>
    </div>
    <div class="list expander">
        <div class="item item-button button-bar expander-footer">
            <button class="button button-grass" ng-click="eventFun.sureOrView(saved)" style="margin-right:1px;" ng-disabled="save_failed">
                <span ng-if="!saved">{{i10n.checkModule.ok}}</span>
                <span ng-if="saved">{{i10n.checkModule.view_report}}</span>
            </button>
            <button class="button button-grass" ng-click="eventFun.close()" style="margin-left:1px;">
                <span ng-if="!saved">{{i10n.checkModule.cancel}}</span>
                <span ng-if="saved">{{i10n.checkModule.stay_on_this_page}}</span>
            </button>
        </div>
    </div>
</script>
