<ion-view view-title="{{i10n.basicInfo}}">
    <ion-content id="basicInfoTab" scroll="false">
        <div class="list">
            <div class="item" ng-repeat="(key,item) in deviceInfo track by $index | filter:$index < 6">
                {{localInfo[key]}}
                {{$index}}
                <span class="item-note" ng-class="{'blue':key==='warranty_period'}" ng-if="item.text">
                <i class="iconfont" ng-if="key==='registration_status_led'" ng-class="{'0':'red','1':'green'}[deviceInfo.registration_status_led.val]">&#xe608;</i>
                <i class="iconfont" ng-if="key==='warranty_period'">&#xe611;</i>
                {{item.text}}</span>
                <span class="item-note" ng-if="!item.text">
                    {{item.val}}
                </span>
            </div>
        </div>
        <div class="list padding ">
            <button class="button button-block-half button-royal" ng-click="checking()">
                {{local.one_check}}
            </button>
        </div>
        <!-- <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list> -->
    </ion-content>
</ion-view>
