<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<!--
    The nav bar that will be updated as we navigate between views.
  -->
<ion-nav-bar class="bar-ocean nav-title-slide-ios7">
</ion-nav-bar>
<ion-tabs class="tabs-simple tabs-icon-only tabs-color-active-ocean" ng-class="{'tabs-item-hide': $root.hideTabs}">
    <!-- Baisc Tab -->
    <ion-tab title="{{i10n.basicInfo}}" icon="icon-home iconfont"  href="#/tab/basic">
        <ion-nav-view name="tab-basic"></ion-nav-view>
    </ion-tab>
    <!-- Check Tab -->
    <ion-tab title="{{i10n.check}}" icon="icon-weixiu iconfont" href="#/tab/check">
        <ion-nav-view name="tab-check"></ion-nav-view>
    </ion-tab>
    <!-- History Tab -->
    <ion-tab title="{{i10n.history}}" icon="icon-wodebaogao iconfont" href="#/tab/history">
        <ion-nav-view name="tab-history"></ion-nav-view>
    </ion-tab>
    <!-- Setting Tab -->
    <ion-tab title="{{i10n.setting}}" icon="icon-shezhi iconfont" href="#/tab/setting">
        <ion-nav-view name="tab-setting"></ion-nav-view>
    </ion-tab>
</ion-tabs>
