$mGreen:#1EA26B;
$mRed:#F0483F;
$fontColor : #999;

.check-module {
	position : relative;
	.loadding svg {
		position : absolute;
		width : 100%;
		height : 50px;
		top : 0;
		bottom : 0;
		left : 0;
		margin : auto;
		z-index:100;
	}

	.header{
		line-height : 50px;
    	font-size: 1.4em;
    	padding : 15px 10px 0;
    	position : relative;
    	i {
    		padding: 0 10px;
		    color: #999;
		    display: inline-block;
		    font-size: 30px;
    	}
    	.title{
    		position : relative;
    		bottom: 3px;
    	}

    	.check_btn{
    		position : absolute;
    		right : 10px;
    		top : 10px;
    		width: 120px;
    		color : $mGreen;
    		i {
    			color : $mGreen;
    			padding-right : 5px;
    		}
    	}
	}

	.content .check-item{
		position : relative;
		padding : 10px 0 10px 80px;
		font-size : 1.2em;
		.check-icon {
			position : absolute;
			left : 40px;
			bottom : 12px;
			color :  $mGreen;
			font-size : 25px;
		}
		.val {
			position : absolute;
			right : 200px;
			color : $fontColor;
		}

		.warn{
			color : $mRed;
			font-size : 20px;
			position: relative;
    		top: 2px;
    		width: 100px;
    		display: inline-block;
		}

		.unit{
			padding-left: 5px;
		}  

		.v-detail {
		    color: #7BBDEA;
		    top: 20px;
		    text-decoration: none;
		    right : 20px;
		    font-size :1.4em;
		}

		.icon-msg,.icon-mark,.icon-edit{
			position : absolute;
			width : 50px;
			text-align : right;
			font-size: 1.6em;
			color : $fontColor;
		}

		.icon-msg{
			right : 120px;
		}

		.icon-mark{
			right : 70px;
		}

		.icon-edit{
			right : 20px;
		}

		.none{
			position : absolute;
			right : 20px;
		}
	}
}

.war-color {
	color : $mRed !important;
}

.check-modal{
	background : rgba(222,216,216,.5);
}

.check_btn_group {
	padding : 0;
	position : fixed;
	left: 0;
    right: 0;
    bottom: 46px;
    height: 50px;
	button  {
		background-color: #25AE76;
	    opacity: .8;
		color : #fff;
		font-size: 24px;
    	font-weight: bold;
	}

	.button:hover,
	.button:focus,
	.button:active{
		color : #fff;
		background-color: #25AE76;
	    opacity: .8;
	}

}

.voice-detail{
	font-size: 1.2em;
	.v-item{
		padding : 10px 10px 10px 20px;;
		border-bottom : 1px solid #ddd;
		position : relative;
		.icon-msg,.icon-mark,.icon-edit{
			position : absolute;
			width : 50px;
			text-align : right;
			font-size: 1.6em;
			color : $fontColor;
			line-height:40px;
		}

		.icon-msg{
			right : 120px;
		}

		.icon-mark{
			right : 70px;
		}

		.icon-edit{
			right : 20px;
		}

		.none{
			position : absolute;
			right : 30px;
		}
	}

	.d-item-key{
		line-height : 40px;
		display : inline-block;
		width : 50%;
		font-size: 1.2em;
	}

	.d-item-val{
		line-height : 40px;
		display : inline-block;
		color : #666;
		position: absolute;
    	right: 180px;
	}

	.content{
		.check-item {
			font-size : 1em;
			padding-left : 60px;
			.check-icon {
				left : 20px;
			}
		}
		
		
	}
}

.sugeest{
    font-size: 1.2em;
	padding : 20px;

	i{
	    font-size: 1.4em;
	    color: #999;
	    position: absolute;
	    right: 20px;
	}

	textarea {
		width : 100%;
		font-size : 1em;
		line-height : 20px;
		min-height : 150px;
	}
	
}

.cover-tip{
	position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    height: 260px;
    width: 80%;
    z-index: 2;
    background-color: #fff;
    bottom: 80px;
    border-radius: 10px;
}

.cover-tip .head,
.cover-tip .btn{
	text-align :center;
	line-height : 40px;
}

.cover-tip .head{
	margin : 40px 40px 20px;
	font-size : 20px;
}

.cover-tip .btn{
	border-radius: 5px;
	border-color : #76BBE9;
	font-size : 16px;
	span{
		margin : 10px 0;
		width: 350px;
	    display: inline-block;
	    border-radius: 5px;
	    border: 1px solid #7DBEEA;
	    color : #7DBEEA;
	}

	span:active{
		background : #eee;
	}
}




.backdoor{
	background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}