/* Empty. Add your own CSS if you like */

$mColor:#c5d7ea;

*{
	font-family : 'Microsoft Yahei' !important;
}

#loginContent{
	background: -ms-linear-gradient(linear, 0% 0%, 0% 100%,from(#c5d7ea), to(#fff));      
	background:-moz-linear-gradient(linear, 0% 0%, 0% 100%,from(#c5d7ea), to(#fff));
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#c5d7ea), to(#fff));
}

#loginContent .history{
	text-align:center;
	color : #666;
}

#loginContent .logo{
	height : 400px;
	text-align:center;
	line-height : 400px;
	font-size:3em;
	color : #333;
}

#loginContent .login{
	margin: 10px;
    width: 100%;
}

#loginContent .loginBtn{
	border-radius: 5px;
	font-weight: bold;
}

/*
#checkTab .item-note > span {
	width : 100px;
	display : inline-block;
}

#checkTab .item-note > span:first-child {
	
	text-align: right;
}

#checkTab .item-note > span:last-child {
	text-align: left;
	padding-left : 5px;
}
*/

#historyTab{
    top: 25px;
    bottom : 90px;
}

#historyTab ion-item:first-child{
	border-top : none;
}

#historyTab .reportItem  {
	span.name,span.date {
		display : inline-block;
		overflow : hidden;
		position: relative;
	    top: 2px;
	}
	span.name {
		width : 70%;
	}
	span.date {
		width : 30%;
	}
}



#historyTab .reportItem  span.name > span{
	padding-left : 20px;
}

.red{
	color : red;
}

.button-block-half{
	width : 50%;
	margin : 0 25%;
}


#SharePopover i{
	font-size : 2em;
	height : 20px;
}

#SharePopover {
	height : 100px !important;
}


#SharePopover ion-item{
	padding-left : 50px;
}

#SharePopover ion-item span{
	position : relative;
	top : -5px;
	left : 5px;
}

.check-spinner{
	position: absolute;
	display : inline-block;
	width : 100%;
	text-align: center;
	left : 0;

}

.check-spinner span.text{
	position : relative;
	top : -8px;
	left : 10px;
}

.no-border-bottom{
	border-bottom : none;
}

#history-operrator{
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	height: 170px;
	min-height:170px;
	right:0;
	top : auto;
	background-color : #f7f7f7;

}

#history-operrator .icon{
	text-align:center;
	height:120px;
	width:100%;
	border-bottom : 1px solid #ccc;
}

#history-operrator .icon .circle{
	border : 1px solid #ccc;
	height:60px;
	width:60px;
	border-radius:80px;
	padding-top : 10px;
	display : inline-block;
	margin : 20px 25px;
}

#history-operrator .icon .circle .explain{
	font-size : 0.8em;
	margin-top : 10px;
}

#history-operrator .icon i {
	font-size : 3em;
}

#history-operrator .cancle{
	height : 50px;
	line-height : 50px;
	text-align : center;
	font-size : 1.2em;
	font-weight: bold;
}

#confirm{
	position : fixed;
	height : 90px;
	width : 100%;
	left : 0;
	bottom : 0;
	text-align : center;
	background-color : #f7f7f7;
	border-top : 1px solid #ccc;
}

#confirm > div{
	bottom: 10px;
    top: 10px;
	height : 50px;
	position : relative;
}

#confirm button{
	width : 150px;
	margin : auto 50px;
}

.reportPopup > .popup{
	width : 400px;
}

.tab-outline{
	border : 1px solid #ccc;
}

#historyTab .date-content{
	flex : 1;
	margin-right: 15px;
    text-align: right;
}
    
#historyTab .date-content > span{
	margin-right: 18px;
    position: relative;
    bottom: 2px;
    font-size : .9em;
}
    
#historyTab .date-content > i{
	font-size : 1.2em;
	color: #666;
}
    
#historyTab .list > label {
	border : none;
	padding-top:2px;
	padding-bottom:4px;
}

#historyTab .list > label > .input-label{
	font-size : 15px;
}

#historyTab .query-cond{
	padding-top: 10px;
	border-bottom: 1px dotted rgba(136, 106, 234, 0.45);
    margin-bottom: 10px;
}