@charset "UTF-8";
/* Empty. Add your own CSS if you like */
* {
  font-family: 'Microsoft Yahei' !important; }

#loginContent {
  background-image: url(../img/loginbg.jpg);
  color: white; }

#loginContent .history {
  text-align: center; }

#loginContent .logo {
  height: 400px;
  text-align: center;
  line-height: 400px;
  font-size: 3em; }

#loginContent .login {
  margin: 10px;
  width: 100%; }

#loginContent .loginBtn {
  border-radius: 5px;
  font-weight: bold; }

#historyTab ion-item {
  border: none; }

#historyTab .reportItem .checkbox input:before,
#historyTab .reportItem .checkbox .checkbox-icon:before {
  border-color: #F1BC92; }
#historyTab .reportItem .checkbox input:checked:before,
#historyTab .reportItem .checkbox input:checked + .checkbox-icon:before {
  background: #F1BC92;
  border-color: #F1BC92; }
#historyTab .reportItem .item-content {
  padding: 16px; }
#historyTab .reportItem span.name,
#historyTab .reportItem span.status,
#historyTab .reportItem span.date {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  top: 2px; }
#historyTab .reportItem span.name {
  right: 0;
  width: 40%;
  margin-right: 10px; }
#historyTab .reportItem span.status {
  width: 30%; }
  #historyTab .reportItem span.status i {
    font-size: 20px; }
  #historyTab .reportItem span.status span {
    position: absolute;
    bottom: 1px;
    left: 10px; }
#historyTab .reportItem span.date {
  right: -10px; }

#historyTab .reportItem span.name > span {
  padding-left: 20px; }

.red {
  color: red; }

.button-block-half {
  width: 50%;
  margin: 0 25%; }

#SharePopover i {
  font-size: 2em;
  height: 20px; }

#SharePopover {
  height: 100px !important; }

#SharePopover ion-item {
  padding-left: 50px; }

#SharePopover ion-item span {
  position: relative;
  top: -5px;
  left: 5px; }

.check-spinner {
  position: absolute;
  display: inline-block;
  width: 100%;
  text-align: center;
  left: 0; }

.check-spinner span.text {
  position: relative;
  top: -8px;
  left: 10px; }

.no-border-bottom {
  border-bottom: none; }

.operator {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  pointer-events: auto;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out; }
  .operator * {
    border-color: #F2F2F2; }

#successfullyInfo {
  width: 100%;
  height: 63%;
  position: absolute;
  top: 13%;
  font-size: 16px;
  background: white;
  z-index: 11; }

.show_ani {
  transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -o-transform: translateY(-100%); }

.back_mask_layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: gray;
  opacity: 0.4;
  -moz-opacity: 0.4;
  filter: alpha(opacity=40); }

.front_mask_layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 11;
  background-color: white;
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter: alpha(opacity=50); }
  .front_mask_layer .icon {
    position: absolute;
    top: 40%;
    z-index: 12;
    color: green;
    font-size: 30px; }

#confirm {
  position: fixed;
  height: 90px;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: #f7f7f7;
  border-top: 1px solid #ccc; }

#confirm > div {
  bottom: 10px;
  top: 10px;
  height: 50px;
  position: relative; }

#confirm button {
  width: 150px;
  margin: auto 50px; }

.reportPopup > .popup {
  width: 400px; }

#historyTab .date-content {
  flex: 1;
  margin-right: 15px;
  text-align: right; }

#historyTab .date-content > span {
  margin-right: 18px;
  position: relative;
  bottom: 2px;
  font-size: .9em; }

#historyTab .date-content > i {
  font-size: 1.2em;
  color: #666; }

#historyTab .list > label {
  border: none;
  padding-top: 2px;
  padding-bottom: 4px; }

#historyTab .list > label > .input-label {
  font-size: 15px; }

#historyTab .query-cond {
  position: relative; }
  #historyTab .query-cond .search {
    border: none;
    margin: 30px auto;
    background-image: none; }

#fixedArea .item-input-wrapper {
  background-color: #F8F8F8;
  height: 40px; }
#fixedArea .button-bar .button,
#fixedArea .button-bar .activated,
#fixedArea .button-bar .activeButton {
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin: 0 2px; }
#fixedArea .button-bar .button {
  border-top: 3px solid #BCBCBC;
  color: #BCBCBC; }
#fixedArea .button-bar .activated {
  border-top: 3px solid #BCBCBC;
  background-color: white;
  box-shadow: 0 0 0; }
#fixedArea .button-bar .activeButton {
  border-top: 3px solid #F1BC92;
  color: #F1BC92; }

p.loadding {
  text-align: center;
  margin-top: 40%;
  position: absoult;
  z-index: 2; }

p.loadding .spinner svg {
  width: 100px;
  height: 80px; }

.modal-backdrop,
.modal-backdrop-bg {
  height: 0px; }

.expander {
  margin-bottom: 0px;
  background: white; }
  .expander .expander-header {
    font-weight: bold;
    font-size: 1.5em; }
  .expander .expander-item {
    border-bottom: none;
    padding-top: 30px; }
    .expander .expander-item .input-label {
      width: 25%; }
  .expander .expander-item:first-of-type {
    padding-top: 45px; }
  .expander .expander-footer {
    border: none;
    padding: 50px 0; }

::-webkit-input-placeholder {
  font-style: italic;
  color: #E4E4E4; }

::-moz-placeholder {
  font-style: italic;
  color: #E4E4E4; }

/* firefox 19+ */
:-ms-input-placeholder {
  font-style: italic;
  color: #E4E4E4; }

/* ie */
input:-moz-placeholder {
  font-style: italic;
  color: #E4E4E4; }

.center {
  /* 姘村钩灞呬腑*/
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-pack: center;
  /* IE 10 */
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  /* IE 11+,Firefox 22+,Chrome 29+,Opera 12.1*/
  /* 鍨傜洿灞呬腑 */
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-align: center;
  /* IE 10 */
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.show {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.hide {
  dispaly: none; }

.no-border {
  border: none; }

.occupying-hidden {
  visibility: hidden; }

#data-range {
  border: none;
  padding: 0 11px; }
  #data-range .button {
    position: relative;
    float: right;
    font-size: 16px;
    line-height: normal;
    min-height: 0; }
  #data-range .button .icon:before {
    font-size: 16px;
    line-height: normal; }

#dateRangeInpute .input-label {
  width: inherit; }
#dateRangeInpute .date-content {
  width: 40%;
  border-bottom: 1px solid #F2F2F2; }

.footer-button {
  height: 40px;
  background-color: #EB4F38;
  color: white; }

/*# sourceMappingURL=style.css.map */
