@charset "UTF-8";
/* Empty. Add your own CSS if you like */
* {
  font-family: 'Microsoft Yahei' !important; }

#register {
  font-size: 16px; }

#loginContent {
  background-image: url(../img/loginbg.png);
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  color: white;
  padding-top: 60%; }
  #loginContent .operationArea {
    position: relative; }
  #loginContent .placeholder-icon:first-child {
    padding: 0 15px 5px 10px;
    font-size: 24px; }
  #loginContent .placeholder-icon:last-child {
    padding-left: 6px;
    padding-right: 6px; }
  #loginContent .inputBox {
    width: 50%;
    height: 50px;
    background-color: #51596A;
    border: none;
    padding: 0;
    /* firefox 19+ */
    /* ie */ }
    #loginContent .inputBox i {
      color: #A6B4B5; }
    #loginContent .inputBox input {
      color: white; }
    #loginContent .inputBox .padding-left {
      padding-left: 20px; }
    #loginContent .inputBox ::-webkit-input-placeholder {
      color: white; }
    #loginContent .inputBox ::-moz-placeholder {
      color: white; }
    #loginContent .inputBox :-ms-input-placeholder {
      color: white; }
    #loginContent .inputBox input:-moz-placeholder {
      color: white; }
  #loginContent .loginBtn {
    border-radius: 8px;
    font-weight: bold;
    height: 60px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px; }
  #loginContent .history {
    text-align: center;
    padding-top: 30px; }
  #loginContent .footer {
    position: relative;
    padding: 0 25%;
    top: 45%;
    width: 100%;
    text-align: center;
    color: white; }

#scroll {
  height: 700px; }
  #scroll .padding {
    padding: 0 20px; }

#basicInfoTab .list .item:first-child {
  margin-top: 10px; }
#basicInfoTab .list .item {
  margin: 0 16px;
  padding: 16px 0;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #F2F2F2; }
#basicInfoTab .list .item:last-child {
  border-bottom: none; }
#basicInfoTab .val {
  position: absolute;
  right: 200px;
  color: #999; }
#basicInfoTab .icon-msg,
#basicInfoTab .icon-mark,
#basicInfoTab .icon-edit {
  position: absolute;
  width: 50px;
  text-align: right;
  font-size: 1.6em;
  color: #999; }
#basicInfoTab .icon-msg {
  right: 120px; }
#basicInfoTab .icon-mark {
  right: 70px; }
#basicInfoTab .icon-edit {
  right: 20px; }
#basicInfoTab .none {
  position: absolute;
  right: 20px; }

.iconfont.bigerIcon {
  font-size: 24px;
  position: relative;
  top: 3px; }

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  min-height: 47px; }

#historyTab .checkbox input {
  right: 15px; }
#historyTab .item {
  margin: 0; }
#historyTab ion-item {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #F2F2F2; }
#historyTab ion-item:last-child {
  border-bottom: none; }
#historyTab .reportItem .checkbox input:before,
#historyTab .reportItem .checkbox .checkbox-icon:before {
  border-color: #F1BC92; }
#historyTab .reportItem .checkbox input:checked:before,
#historyTab .reportItem .checkbox input:checked + .checkbox-icon:before {
  background: #F1BC92;
  border-color: #F1BC92; }
#historyTab .reportItem .item-content {
  padding: 16px 0; }
#historyTab .reportItem span.name,
#historyTab .reportItem span.status,
#historyTab .reportItem span.date {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  top: 2px; }
#historyTab .reportItem span.name {
  right: 0;
  width: 40%;
  padding-right: 1em;
  padding-left: 1em; }
#historyTab .reportItem span.status {
  width: 30%; }
  #historyTab .reportItem span.status i {
    font-size: 20px; }

.red {
  color: #EB4F38 !important; }

.blue {
  color: #56ABE4 !important; }

.green {
  color: #00CAA9 !important; }

.orange {
  color: #F1BC92 !important; }

.button-block-half {
  width: 50%;
  margin: 0 25%; }

#SharePopover i {
  font-size: 2em;
  height: 20px; }

#SharePopover {
  height: 100px !important; }

#SharePopover ion-item {
  padding-left: 50px; }

#SharePopover ion-item span {
  position: relative;
  top: -5px;
  left: 5px; }

.check-spinner {
  position: absolute;
  display: inline-block;
  width: 100%;
  text-align: center;
  left: 0; }

.check-spinner span.text {
  position: relative;
  top: -8px;
  left: 10px; }

.no-border-bottom {
  border-bottom: none; }

.operator {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  left: 0;
  right: 0;
  z-index: 10;
  pointer-events: auto;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out; }
  .operator * {
    border-color: #F2F2F2; }

#successfullyInfo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1px;
  font-size: 16px;
  background: white;
  z-index: 11; }
  #successfullyInfo .text {
    width: 80%;
    text-align: center; }

.back_mask_layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.4); }

.front_mask_layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 11;
  background-color: white;
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter: alpha(opacity=50); }
  .front_mask_layer .icon {
    position: absolute;
    top: 40%;
    z-index: 12;
    color: green;
    font-size: 30px; }

#confirm {
  position: fixed;
  height: 90px;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: #f7f7f7;
  border-top: 1px solid #ccc; }

#confirm > div {
  bottom: 10px;
  top: 10px;
  height: 50px;
  position: relative; }

#confirm button {
  width: 150px;
  margin: auto 50px; }

.reportPopup > .popup {
  width: 400px; }

#historyTab .date-content {
  flex: 1;
  margin-right: 15px;
  text-align: right; }

#historyTab .date-content > span {
  margin-right: 18px;
  position: relative;
  bottom: 2px;
  font-size: .9em; }

#historyTab .date-content > i {
  font-size: 1.2em;
  color: #666; }

#historyTab .list > label {
  border: none;
  padding-top: 2px;
  padding-bottom: 4px; }

#historyTab .list > label > .input-label {
  font-size: 15px; }

#historyTab .query-cond {
  position: relative; }
  #historyTab .query-cond .search {
    border: none;
    margin: 30px auto;
    background-image: none; }

#fixedArea .item-input-wrapper {
  background-color: #F8F8F8;
  height: 40px; }
#fixedArea .button-bar .button,
#fixedArea .button-bar .activated,
#fixedArea .button-bar .activeButton {
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin: 0 2px; }
#fixedArea .button-bar .button {
  border-top: 3px solid #F0F0F0;
  color: #C2BCBC; }
#fixedArea .button-bar .activated {
  border-top: 3px solid #F0F0F0;
  background-color: white;
  box-shadow: 0 0 0; }
#fixedArea .button-bar .activeButton {
  border-top: 3px solid #F1BC92;
  color: #F1BC92; }

p.processing {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 100%;
  background-color: #3A3B46; }
  p.processing .spinner svg {
    width: 100px;
    height: 80px; }

p.loading {
  text-align: center;
  margin-top: 40%;
  position: absolute;
  width: 100%;
  z-index: 2; }

p.loading .spinner svg {
  width: 100px;
  height: 80px; }

.modal-backdrop,
.modal-backdrop-bg {
  height: 0px; }

.expander {
  margin-bottom: 0px;
  background: white; }
  .expander .expander-header {
    font-weight: bold;
    font-size: 1.5em; }
  .expander .expander-item {
    border-bottom: none;
    padding-top: 30px;
    border-left: none;
    border-right: none;
    margin: 0 16px; }
    .expander .expander-item .input-label {
      width: 25%; }
  .expander .expander-item:first-of-type {
    padding-top: 45px;
    margin: -1px 0 0; }
    .expander .expander-item:first-of-type .input-label {
      padding-left: 16px; }
  .expander .expander-footer {
    border: none;
    padding: 30px 0; }

.placeholder-icon {
  color: #AEBDBD; }

::-webkit-input-placeholder {
  font-style: italic;
  color: #E4E5E8; }

::-moz-placeholder {
  font-style: italic;
  color: #E4E5E8; }

/* firefox 19+ */
:-ms-input-placeholder {
  font-style: italic;
  color: #E4E5E8; }

/* ie */
input:-moz-placeholder {
  font-style: italic;
  color: #E4E5E8; }

.center {
  /* 姘村钩灞呬腑*/
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-pack: center;
  /* IE 10 */
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  /* IE 11+,Firefox 22+,Chrome 29+,Opera 12.1*/
  /* 鍨傜洿灞呬腑 */
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-align: center;
  /* IE 10 */
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.show {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.hide {
  dispaly: none; }

.no-border {
  border: none; }

.occupying-hidden {
  visibility: hidden; }

#historyTab .list {
  margin-bottom: 0; }
  #historyTab .list .listButton {
    padding: 0 11px;
    border: none; }

.listButton .button {
  position: relative;
  float: right;
  font-size: 16px;
  line-height: normal;
  min-height: 0; }
.listButton .button .icon:before {
  font-size: 16px;
  line-height: normal; }

#dateRangeInpute .input-label {
  width: inherit; }
#dateRangeInpute .date-content {
  width: 40%;
  border-bottom: 1px solid #F2F2F2; }

.footer-button {
  height: 40px;
  background-color: #EB4F38;
  color: white; }

#settingTab .scroll {
  height: 100%; }
#settingTab .list .item:first-child {
  margin-top: 10px; }
#settingTab .list .item {
  margin: 0 16px;
  padding: 16px 0;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #F2F2F2; }
#settingTab .list .item:last-child {
  border-bottom: none; }
#settingTab .footer {
  position: fixed;
  bottom: 60px;
  width: 100%;
  text-align: center; }
  #settingTab .footer .note {
    color: #b2b2b2; }
  #settingTab .footer .padding-bottom {
    padding-bottom: 40px; }

.button.button-green {
  border: none;
  background-color: #1EA26B;
  color: #fff;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }

.button.button-green[disabled=disabled] {
  opacity: 0.4 !important; }

.button.button-grass {
  border: none;
  background-color: #25AE76;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  margin: 0;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80); }

.button.button-grass.active, .button.button-grass.activated {
  border-color: #21815A;
  background-color: #21815A;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80); }

.button.button-grass[disabled=disabled] {
  opacity: 0.4 !important; }

ion-tabs.tabs-color-active-ocean .tab-item {
  color: #33475F; }

ion-tabs.tabs-color-active-ocean .tab-item.tab-item-active,
ion-tabs.tabs-color-active-ocean .tab-item.active,
ion-tabs.tabs-color-active-ocean .tab-item.activated {
  color: #ED8210; }

.bar.bar-ocean {
  border-color: #b2b2b2;
  background-color: #33475F;
  background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
  color: white;
  border: none; }

.bar.bar-ocean .title {
  font-weight: bold;
  color: white; }

.bar.bar-ocean.bar-footer {
  background-image: linear-gradient(180deg, #b2b2b2, #b2b2b2 50%, transparent 50%); }

.bar-ocean .button {
  border-color: #b2b2b2;
  background-color: #f8f8f8;
  color: white; }

.bar-ocean .button:hover {
  color: white;
  text-decoration: none; }

.bar-ocean .button.active,
.bar-ocean .button.activated {
  border-color: #a2a2a2;
  background-color: #e5e5e5;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }

.bar-ocean .button.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: white;
  font-size: 17px; }

.bar-ocean .button.button-icon {
  border-color: transparent;
  background: none;
  font-size: 16px; }
  .bar-ocean .button.button-icon .iconfont {
    font-size: 24px; }

ion-list > div {
  background-color: white; }
  ion-list > div label:not(:first-child) {
    margin: 0 16px;
    border-left: none;
    border-right: none; }

.center-radio .item-radio {
  border-bottom: none; }
  .center-radio .item-radio input:checked ~ .radio-icon {
    color: #F1BC92; }
  .center-radio .item-radio input:checked ~ .item-content {
    background: white;
    color: #F1BC92; }
  .center-radio .item-radio .radio-icon {
    top: -6px;
    right: 60%; }
  .center-radio .item-radio .item-content {
    padding: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    /* 姘村钩灞呬腑*/
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-pack: center;
    /* IE 10 */
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    /* IE 11+,Firefox 22+,Chrome 29+,Opera 12.1*/
    /* 鍨傜洿灞呬腑 */
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-align: center;
    /* IE 10 */
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }

.tabs-simple .tabs {
  background: #F8F8F8;
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top: 2px solid #E5E5E5 !important; }

.tip {
  height: 200px; }
  .tip .tipTextArea {
    height: 100px;
    margin-bottom: 25px;
    font-size: 24px; }
  .tip .button {
    border-radius: 5px;
    font-size: 20px; }

.warn-tip {
  width: 500px;
  height: auto;
  font-size: 16px; }
  .warn-tip .button {
    position: absolute;
    right: 5px;
    top: -5px;
    min-width: 34px;
    min-height: 34px; }
  .warn-tip :first-child {
    height: 10px; }
  .warn-tip :nth-child(2) {
    padding: 20px 10px 10px; }
  .warn-tip :nth-child(3) {
    padding: 10px 10px 30px; }
  .warn-tip .close-btn {
    float: right;
    height: 50px;
    width: 30px;
    text-align: right; }

/*# sourceMappingURL=style.css.map */
